#splash {
  background-color: $beige;
}

#intro {
  padding-top: 0.5em;
  background-color: $orange;
  color: #fff;
}

#dates {
  background-color: $orange;
  color: #fff;
}

#teachers {
  background-color: $blue;
  padding-top: 0.5em;
}

#music {
  background-color: $beige;
  padding-top: 0.5em;
}

#site-footer {
  padding-top: 1em;
}

.vcard {
  border: none;
}
