.content {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
}

.splash {
  background-color: $beige;
}

.intro {
  background-color: $orange;
  color: $white;
}

.dates {
  background-color: $orange;
  color: $white;
}

.teachers {
  background-color: $blue;
  color: $white;
}

.music {
  background-color: $beige;
  color: $white;
}

.site-footer {
  padding-top: rem-calc(50);
}

.event-date {
  border-style: solid;
  margin-bottom: rem-calc(10);

  .event-date-head {
    background-color: $white;
    color: $black;
  }
}

