.content {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
}

.main-content {
  background-color: $beige;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
}

.site-footer {
  background-color: $orange;
  color: $white;
  padding-top: rem-calc(50);
}
