{{ partial "header" . }}
{{ partial "navigation.html" . }}

<section id="splash">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Smokey Feet</h1>
      <h2 class="text-center">Amsterdam, 2016</h2>
    </div>
  </div>
</section>

<section id="intro">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="text-center">May 26th - 30th, 2016 in Amsterdam</h3>

      <p class="text-center"><b>Smokey Feet</b> is the biggest lindyhop
      workshop in the Netherlands. Join us again this year for XX hours
      of classes, parties and all out fun.
      </p>

      <p class="text-center">Registration opens <b>January, 2016</b>!</p>
    </div>
  </div>
</section>

<section id="dates">
  <div class="row">
    <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
      <li>
        <div class="panel">
          <h3><small>May</small><span>26th</span></h3>
          <p>Pre-party</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3><small>May</small><span>27th</span></h3>
          <p>Party</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3><small>May</small><span>28th</span></h3>
          <p>Classes &amp; party</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3><small>May</small><span>29th</span></h3>
          <p>Classes &amp; party</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3><small>May</small><span>30th</span></h3>
          <p>After-party</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="teachers">
  <div class="row">
    <h3 class="text-center">Teachers</h3>
    <h4 class="text-center">We have the coolest teachers...</h4>
    <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">
      <li>
        <div class="panel">
          <h3>Ali Taghavi, Germany</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>Katja Uckermann, France</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>JB Mino, France</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>Tatiana Udry, XXXX</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>Nicolas, France</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>Pamela Gaizutyte, Lithuania</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>Ksenia Parkhatskaya, Russia</h3>
          <p>Blurb...</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="music">
  <div class="row">
    <h3 class="text-center">Bands & DJs</h3>
    <h4 class="text-center">We've got you covered on music. Check this out.</h4>
    <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-2">
      <li>
        <div class="panel">
          <h3>Band, France</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>Band, France</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>DJ, France</h3>
          <p>Blurb...</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3>DJ, France</h3>
          <p>Blurb...</p>
        </div>
      </li>
    </ul>
  </div>
</section>

{{ partial "footer.html" . }}
