{{ partial "header" . }}
{{ partial "navigation.html" . }}

<section id="splash">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">Smokey Feet</h1>
    </div>
  </div>
</section>

<section id="intro">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="text-center">May 26th - 30th, 2016 in Amsterdam</h3>

      <p class="text-center"><b>Smokey Feet</b> is the biggest Lindy hop
      workshop in The Netherlands. Five nights of dancing, live bands,
      international DJs, competitions, ten hours of classes and more
      brilliant stuff we're still working on.
      </p>

      <p class="text-center">Join us again this year for the <b>6th
      edition</b> of Smokey Feet!
      </p>

      <p class="text-center">Registration opens&nbsp;&nbsp;<b>January, 2016</b></p>
    </div>
  </div>
</section>

<section id="dates">
  <div class="row">
    <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
      <li>
        <div class="panel">
          <h3><small>May</small><span>26th</span></h3>
          <p>Pre-party</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3><small>May</small><span>27th</span></h3>
          <p>Party</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3><small>May</small><span>28th</span></h3>
          <p>Classes &amp; Party</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3><small>May</small><span>29th</span></h3>
          <p>Classes &amp; Party</p>
        </div>
      </li>
      <li>
        <div class="panel">
          <h3><small>May</small><span>30th</span></h3>
          <p>After-party</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="teachers">
  <div class="row">
    <h3 class="text-center">Teachers</h3>
    <h5 class="subheader text-center">
      These fine dancers will be teaching you their tricks of the trade.
    </h5>
    <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">
      <li>
        <img src="{{ .Site.BaseURL }}/img/ali-katja-lift-profile.jpg" alt="Ali, Kajta"/>
        <div class="profile-panel">
          <h5 class="subheader">Ali Taghavi, Germany</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/ali-katja-split-profile.jpg" alt="Ali, Kajta"/>
        <div class="profile-panel">
          <h5 class="subheader">Katja Uckermann, Germany</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/jb-profile.jpg" alt="JB Mino"/>
        <div class="profile-panel">
          <h5 class="subheader">JB Mino, France</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/tatiana-profile.jpg" alt="Tatiana Udry"/>
        <div class="profile-panel">
          <h5 class="subheader">Tatiana Udry, France</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/nicolas-profile.jpg" alt="Nicolas Deniau"/>
        <div class="profile-panel">
          <h5 class="subheader">Nicolas Deniau, France</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/pamela-profile.jpg" alt="Pamela Gaizutyte"/>
        <div class="profile-panel">
          <h5 class="subheader">Pamela Gaizutyte, Lithuania</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/ksenia-profile.jpg" alt="Ksenia Parkhatskaya"/>
        <div class="profile-panel">
          <h5 class="subheader">Ksenia Parkhatskaya, Russia</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/ksenia-profile.jpg" alt="Martynas Stonys"/>
        <div class="profile-panel">
          <h5 class="subheader">Martynas Stonys, Lithuania</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/ksenia-profile.jpg" alt="Eglė Regelskis"/>
        <div class="profile-panel">
          <h5 class="subheader">Eglė Regelskis, Lithuania</h5>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="music">
  <div class="row">
    <h3 class="text-center">Bands & DJs</h3>
    <h5 class="subheader text-center">
      We've got you covered on music. Check this out.
    </h5>

    <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
      <li>
        <img src="{{ .Site.BaseURL }}/img/cunningham-profile.jpg" alt="Professor Cunningham"/>
        <div class="profile-panel">
          <h5 class="subheader">Professor Cunningham &amp; his Old School, USA</h5>
        </div>
      </li>
      <li>
        <img src="{{ .Site.BaseURL }}/img/hot-sugar-profile.jpg" alt="Hot Sugar Band"/>
        <div class="profile-panel">
          <h5 class="subheader">The Hot Sugar Band, France</h5>
        </div>
      </li>
    </ul>
  </div>
</section>

{{ partial "footer.html" . }}
