{{ partial "header" . }}
{{ partial "navigation.html" . }}

<div class="splash">
  <div class="row columns show-for-medium">
    <img src="{{ .Site.BaseURL }}/img/sf-header-image.jpg" alt="Smokey Feet 2016"/>
  </div>
</div>

<section class="intro content">
  <div class="row">
    <div class="medium-9 small-centered columns">
      <h2 class="text-center">May 26th - 30th, 2016 in Amsterdam</h2>

      <p class="text-center"><b>Smokey Feet</b> is the biggest Lindy hop
      workshop in The Netherlands. Five nights of dancing, live bands,
      international DJs, competitions, ten hours of classes and more
      brilliant stuff we're still working on.
      </p>

      <p class="text-center">Join us again this year for the <b>6th
      edition</b> of Smokey Feet!
      </p>

      <p class="text-center"><b>&raquo; Registration closed &laquo;</b></p>

      <p class="text-center"><i>We're very happy
        with overwhelming number of registrations received. The waiting list
        now reaches to the moon and back and so for the time being we're
        closing registration.</i>
      </p>
    </div>
  </div>
</section>

<section class="dates content">
  <div class="row text-center">
    <div class="small-6 large-2 large-offset-1 columns">
      <div class="event-date">
        <div class="event-date-head">
          <h3><small>May</small>&nbsp;<span>26th</span></h3>
        </div>
        <p>Pre-party</p>
      </div>
    </div>
    <div class="small-6 large-2 columns">
      <div class="event-date">
        <div class="event-date-head">
          <h3><small>May</small>&nbsp;<span>27th</span></h3>
        </div>
        <p>Party</p>
      </div>
    </div>
    <div class="small-6 large-2 columns">
      <div class="event-date">
        <div class="event-date-head">
          <h3><small>May</small>&nbsp;<span>28th</span></h3>
        </div>
        <p>Classes &amp; Party</p>
      </div>
    </div>
    <div class="small-6 large-2 columns">
      <div class="event-date">
        <div class="event-date-head">
          <h3><small>May</small>&nbsp;<span>29th</span></h3>
        </div>
        <p>Classes &amp; Party</p>
      </div>
    </div>
    <div class="small-6 large-2 end columns">
      <div class="event-date">
        <div class="event-date-head">
          <h3><small>May</small>&nbsp;<span>30th</span></h3>
        </div>
        <p>After-party</p>
      </div>
    </div>
  </div>
</section>

<section class="teachers content">
  <h3 class="text-center">Teachers</h3>
  <h4 class="subheader text-center">
    These fine dancers will be teaching you their tricks of the trade.
  </h4>

  <div class="row small-up-2 medium-up-2 large-up-4" data-equalizer>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/ali-profile.jpg" alt="Ali Taghavi"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#ali_katja">Ali Taghavi, Germany</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/katja-profile.jpg" alt="Kajta Uckermann"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#ali_katja">Katja Uckermann, Germany</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/jb-profile.jpg" alt="JB Mino"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#jb_tatiana">JB Mino, France</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/tatiana-profile.jpg" alt="Tatiana Udry"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#jb_tatiana">Tatiana Udry, France</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/martynas-profile.jpg" alt="Martynas Stonys"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#martynas_egle">Martynas Stonys, Lithuania</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/egle-profile.jpg" alt="Eglė Regelskis"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#martynas_egle">Eglė Regelskis, Lithuania</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/nicolas-profile.jpg" alt="Nicolas Deniau"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#nicolas_pamela">Nicolas Deniau, France</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/pamela-profile.jpg" alt="Pamela Gaizutyte"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#nicolas_pamela">Pamela Gaizutyte, Lithuania</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/ksenia-profile.jpg" alt="Ksenia Parkhatskaya"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/main_teachers/#ksenia">Ksenia Parkhatskaya, Russia</a>
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="music content">
  <h3 class="text-center">Bands &amp; DJs</h3>
  <h4 class="subheader text-center">
    We've got you covered on music. Check this out.
  </h4>

  <div class="row small-up-1 medium-up-2 large-up-2" data-equalizer>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/cunningham-profile.jpg" alt="Professor Cunningham"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/bands/#professor">Professor Cunningham &amp; his Old School, USA</a>
        </h5>
      </div>
    </div>
    <div class="columns">
      <img src="{{ .Site.BaseURL }}/img/hot-sugar-profile.jpg" alt="Hot Sugar Band"/>
      <div class="callout-profile" data-equalizer-watch>
        <h5 class="subheader text-center">
          <a href="/artists/bands/#hot_sugar">The Hot Sugar Band, France</a>
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="flashback content hide-for-small-only">
  <h3 class="text-center">Flashback</h3>
  <div class="row columns">
    <div class="text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MSwgWSKRkYc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
