#splash {
  background-color: #fff;
}

#intro {
  padding-top: 0.5em;
  background-color: #b44c31;
  color: #fff;
}

#dates {
  background-color: #b44c31;
}

#teachers {
  background-color: #3c878e;
  padding-top: 0.5em;
}

#teachers h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

#teachers h5.subheader {
  color: #fff;
}

#teachers div.panel h5.subheader {
  color: #fff;
}

#music {
  background-color: #c2bca6;
  padding-top: 0.5em;
}

body {
  font-family: Bitter, serif;
}

h1, h2, h3 {
  font-family: Montserrat, serif;
}

h4, h5, h6 {
  font-family: Bitter, serif;
}

#site-footer {
  padding-top: 1em;
}

.vcard {
  border: none;
}

/* foundation icons */

i.small {
  font-size: 20px;
  line-height: 20px;
}

i.medium {
  font-size: 35px;
  line-height: 35px;
}

i.large {
  font-size: 50px;
  line-height: 50px;
}
