{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<section>
  <div class="row">
    <div class="large-12 columns">
      <h1>Section</h1>
      {{ range .Data.Pages }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          {{ with .Description }}<p>{{ . }}</p>{{ end }}
          {{ .Content }}
          <div class="meta">
            Written by <address>{{ .Params.authorName }}</address> &mdash;
            <time pubdate datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">
              {{ .Date.Format "January 1, 2006" }}
            </time>
          </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
