{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<section class="main-content">
  <div class="row columns">
    <h1>{{ .Title }}</h1>
{{ range .Data.Pages }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ with .Description }}<p>{{ . }}</p>{{ end }}
    {{ .Content }}
    <div class="meta">
      Written by <i>{{ .Site.Params.authorName }}</i> &mdash;
      <time datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format "2006-01-02"}}
      </time>
    </div>
{{ end }}
  </div>
</section>

{{ partial "footer.html" . }}
