<footer class="site-footer">
  <div class="row">
    <div class="large-12 columns">
      <ul class="no-bullet">
        <li class="fn">Stichting Smokey Feet</li>
        <li class="street-address">Lange Leidsedwarsstraat 115-2</li>
        <li class="locality">1017 NJ Amsterdam</li>
        <li><span class="state">The Netherlands</span></li>
{{ with .Site.Params.authorEmail }}
        <li>{{ . }}</li>
{{ end }}
        <li>KvK: 64013359</li>
        <li>IBAN: NL31 TRIO 0254 7452 45</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="no-bullet text-right">
{{ with .Site.Params.facebookUrl }}
        <li><a href="{{ . }}"><i class="fi-social-facebook large"></i></a></li>
{{ end }}
{{ with .Site.Params.twitterUrl }}
        <li><a href="{{ . }}"><i class="fi-social-twitter large"></i></a></li>
{{ end }}
{{ with .Site.Params.youtubeUrl }}
        <li><a href="{{ . }}"><i class="fi-social-youtube large"></i></a></li>
{{ end }}
      </ul>
    </div>
  </div>
</footer>

{{ partial "js.html" . }}
</body>
</html>
