<footer class="site-footer">
  <div class="row">
    <div class="large-6 columns">
      <ul class="no-bullet">
        <li class="fn">Stichting Smokey Feet</li>
        <li class="street-address">Lange Leidsedwarsstraat 115-2</li>
        <li class="locality">1017 NJ Amsterdam</li>
        <li><span class="state">The Netherlands</span></li>
{{ with .Site.Params.authorEmail }}
        <li>{{ . }}</li>
{{ end }}
        <li>KvK: 64013359</li>
        <li>IBAN: NL31 TRIO 0254 7452 45</li>
{{ with .Site.Params.termsUrl }}
        <li><a href="{{ . }}">Terms &amp; Conditions</a></li>
{{ end }}
      </ul>
    </div>
    <div class="large-6 columns text-center">
      <span>SF:</span>
{{ with .Site.Params.facebookUrl }}
      <a href="{{ . }}" target="_blank">Facebook</a>
{{ end }}
{{ with .Site.Params.twitterUrl }}
      &nbsp;|&nbsp;<a href="{{ . }}" target="_blank">Twitter</a>
{{ end }}
{{ with .Site.Params.youtubeUrl }}
      &nbsp;|&nbsp;<a href="{{ . }}" target="_blank">YouTube</a>
{{ end }}
    </div>
  </div>
</footer>

{{ partial "js.html" . }}
</body>
