<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}" />
  <meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/app.css{{with getenv "CSS_HASH"}}?v={{.}}{{end}}" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script src="{{ .Site.BaseURL }}js/vendor/modernizr.js"></script>
  <title>{{ .Site.Title }}</title>
</head>
<body>
