<div class="top-bar" id="top-bar-menu">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a class="menu-text" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu"
        data-responsive-menu="accordion medium-dropdown">
{{ $currentNode := . }}
{{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li>
        {{ .Pre }}<a class="menu-text" href="javascript:void(0);">{{ .Name }}</a>
        <ul class="vertical nested menu" data-submenu>
        {{ range .Children }}
          <li>{{ .Pre }}<a class="menu-text" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
      </li>
      {{ else }}
      <li>{{ .Pre }}<a class="menu-text" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
{{ end }}
    </ul>
  </div>
</div>
