<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"><h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <!--
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="{{ .Site.BaseURL }}/news">News</a></li>
        <li><a href="{{ .Site.BaseURL }}/teachers">Teachers</a></li>
        <li><a href="{{ .Site.BaseURL }}/bands">Bands</a></li>
      </ul>
    </section>
    -->
  </nav>
</div>
